$color-default = #000
$color-primary = #fa8d34
$color-text = #333
$color-bg = #f7f7f7

$font-default = 'IBM Plex Mono', monospace
$font-title = 'criteria-cf', Arial, sans-serif

$path-assets = '../static/'
$path-img = $path-assets + 'img/'
$path-fonts = $path-assets + 'fonts/'

$phone = 580px
$tablet = 880px
$desktop-small = 1000px
$desktop-large = 1220px
$desktop-big = 1480px
$desktop-xbig = 1630px

$wrapper-size = 84%

rupture.use-device-width = false
rupture.scale            = 0 $phone $tablet $desktop-small $desktop-large $desktop-big $desktop-xbig
rupture.scale-names      = 'phone' 'tablet' 'desktop-small' 'desktop-large' 'desktop-big' 'desktop-xbig'
