.button
  position relative
  display inline-block
  width auto
  height auto
  color #fff
  padding 1em 1.6em
  text-align center
  font-size 1.6rem
  font-weight bold
  text-decoration none
  text-transform uppercase
  cursor pointer
  border-radius 4px
  will-change box-shadow
  transition box-shadow .2s ease
  background-image linear-gradient(to right top, $color-primary - 20%, $color-primary)

  &:hover
    box-shadow 0 0 2em rgba($color-primary, .5)
